body,html {
    background-color: rgb(144, 170, 255); 
    font-family: 'Roboto', sans-serif;
}


h1,h2.h3,h4,h5,h6{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 200px 0px 240px;
    
    


}
i {
    font-size:60px;
    color:black;
}

img{
   display: block; 
   margin:0 auto;
    border:5px solid white; 
    border-radius: 300px;
}

ul > li {
    display: inline;
    margin: 20px 45px 20px 45px;
    width: 300px; 
    
}

p {
    color: black;
}   

    
    .white-copy{
        color: white;
    }


#content-wrapper{
width:600px;
margin:0 auto; 
}


